/**
    *   NAVBAR
    */
@import "themes/common";

@import "models/model-1";
@import "models/model-2";

.nav-bar {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    flex: 0;
    width: 100%;
    max-width: 100%;
    &.--hidden {
        display: none;
    }
    &.--fixed-top {
        position: fixed;
        top: 0;
    }
    &.--fixed-bottom {
        position: fixed;
        bottom: 0;
    }

    @include common_menu--themes;

    @include model-1_menu;
    @include model-2_menu;
}
.nav-bar_link {
    box-sizing: inherit;

    @include common_links--themes;

    @include model-1_links;
    @include model-2_links;
}
