/**
    *   NAVBAR
    */
.navbar {
    height: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $pallete-primary;
    background-color: rgba(#fff, 0.3);
    @media (max-width: 599px) {
        height: auto;
        padding-top: 2rem;
    }
    @media (min-width: 600px) {
        font-size: 0.9em;
    }
    @media (min-width: 900px) {
        font-size: 1.13em;
    }
    &__item {
        line-height: 4rem;
        text-shadow: 0.05em 0.05em 0.08em rgb(15, 15, 15);
        @media (max-width: 599px) {
            line-height: 1;
            padding-top: 1rem;
            padding-bottom: 1rem;
            &:last-of-type {
                padding-bottom: 2rem;
            }
        }
        & > img {
            max-height: 3rem;
            @media (max-width: 599px) {
                max-height: 5rem;
            }
            @media (min-width: 900px) {
                max-height: 4rem;
            }
        }
        & span {
            visibility: hidden;
            color: $pallete-secondary;
        }
        &:hover,
        &:active {
            color: $pallete-tertiary;
            text-shadow: -0.08em 0.08em 0.08em rgb(15, 15, 15);
            & span {
                visibility: visible;
            }
        }
    }
}
