/**
    *   FONTS
    */
$font-primary: "Fondamento", cursive;
$font-secondary: "Anonymous Pro", monospace;

.font--primary {
    font-family: $font-primary;
}
.font--secondary {
    font-family: $font-secondary;
}
.font--primary-important {
    font-family: $font-primary !important;
}
