/**
    *   IMAGES FOR HEADER SECTION
    */
$hero-1: url("../../../../../../assets/img/hero1.gif");
$hero-2: url("../../../../../../assets/img/hero2.gif");
$hero-3: url("../../../../../../assets/img/hero3.gif");
$hero-4: url("../../../../../../assets/img/hero4.gif");
$hero-5: url("../../../../../../assets/img/hero5.gif");

/**
    *   IMAGES FOR ABOUT SECTION
    */
$selfie: url("../../../../../../assets/img/selfie.jpg");
