/**
    *   POSITION - HELPERS
    */
[class*="u-relative"] {
    position: relative;
}
[class*="u-absolute"] {
    position: absolute;
}
[class*="u-fixed"] {
    position: fixed;
}
[class*="u-sticky"] {
    position: sticky;
}
.u-relative--top,
.u-absolute--top,
.u-fixed--top,
.u-sticky--top {
    top: 0;
}
.u-relative--right,
.u-absolute--right,
.u-fixed--right,
.u-sticky--right {
    right: 0;
}
.u-relative--bottom,
.u-absolute--bottom,
.u-fixed--bottom,
.u-sticky--bottom {
    bottom: 0;
}
.u-relative--left,
.u-absolute--left,
.u-fixed--left,
.u-sticky--left {
    left: 0;
}
.u-relative--top-left,
.u-absolute--top-left,
.u-fixed--top-left,
.u-sticky--top-left {
    top: 0;
    left: 0;
}
.u-relative--top-right,
.u-absolute--top-right,
.u-fixed--top-right,
.u-sticky--top--ight {
    top: 0;
    right: 0;
}
.u-relative--bottom-left,
.u-absolute--bottom-left,
.u-fixed--bottom-left,
.u-sticky--bottom-left {
    bottom: 0;
    left: 0;
}
.u-relative--bottom-right,
.u-absolute--bottom-right,
.u-fixed--bottom-right,
.u-sticky--bottom-right {
    bottom: 0;
    right: 0;
}
