/**
    *   BOX SIZES - HELPERS
    */
.u-margin {
    &--height-2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &--width-2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    &--top-2 {
        margin-top: 2rem;
    }
    &--bottom-2 {
        margin-bottom: 2rem;
    }
    &--left-2 {
        margin-left: 2rem;
    }
    &--right-2 {
        margin-right: 2rem;
    }
}
.u-height {
    &-min-screen {
        min-height: 100vh;
    }
    &-full-screen {
        height: 100vh;
    }
    &-max-screen {
        max-height: 100vh;
    }
    &-min-block {
        min-height: 100%;
    }
    &-full-block {
        height: 100%;
    }
    &-max-block {
        max-height: 100%;
    }
}
.u-width {
    &-min-screen {
        min-width: 100vw;
    }
    &-full-screen {
        width: 100vw;
    }
    &-max-screen {
        max-width: 100vw;
    }
    &-min-block {
        min-width: 100%;
    }
    &-full-block {
        width: 100%;
    }
    &-max-block {
        max-width: 100%;
    }
}
