/**
    *   BOX SIZES - HELPERS
    */
.full {
    &-screen {
        height: 100vh;
        width: 100vw;
    }
    &-height-of-the-screen {
        height: 100vh;
    }
    &-width-of-the-screen {
        width: 100vw;
    }
    &-page {
        height: 100%;
        width: 100%;
    }
    &-height {
        height: 100%;
    }
    &-width {
        width: 100%;
    }
}
.m {
    &h30 {
        margin-top: 30rem;
        margin-bottom: 30rem;
    }
    &b30 {
        margin-bottom: 30rem;
    }
}
