@mixin model-1_menu {
    /**
        *   NAVBAR - MENU
        */
    &.--model-1 {
        line-height: 2;
        @media (max-width: 599px) {
            font-size: 1.35em;
            span {
                display: none;
            }
        }
        @media (max-width: 350px) {
            font-size: 1.2em;
        }
        @media (min-width: 600px) {
            font-size: 1.5em;
        }
        @media (min-width: 900px) {
            font-size: 1.6em;
        }
        @media (min-width: 1200px) {
            font-size: 1.7em;
        }
        @media (min-width: 1800px) {
            font-size: 2em;
        }
        text-align: center;
    }
}
@mixin model-1_links {
    /**
        *   NAVBAR - LINKS
        */
    &.--model-1 {
        flex-basis: ((1 / 5) * 100%);
        width: ((1 / 5) * 100%);
        max-width: ((1 / 5) * 100%);
        transition: all 1s;
        span {
            visibility: hidden;
        }
        &:hover {
            & span {
                visibility: visible;
                font-size: 0.8em;
            }
        }
    }
}
