@mixin model-2_menu {
    /**
        *   NAVBAR - MENU
        */
    &.--model-2 {
        line-height: 2;
        @media (max-width: 599px) {
            font-size: 1.35em;
            span {
                display: none;
            }
        }
        @media (max-width: 350px) {
            font-size: 1.2em;
        }
        @media (min-width: 600px) {
            font-size: 1.5em;
        }
        @media (min-width: 900px) {
            font-size: 1.6em;
        }
        @media (min-width: 1200px) {
            font-size: 1.7em;
        }
        @media (min-width: 1800px) {
            font-size: 2em;
        }
        text-align: center;
    }
    .light &.--color {
        &-1 {
            background-color: rgba(#011627, 0.5);
            box-shadow: 0 0 0.3em 0.3em rgba(#011627, 0.5);
        }
    }
    .dark &.--color {
        &-1 {
            background-color: rgba(#fdfffc, 0.3);
            box-shadow: 0 0 0.3em 0.3em rgba(#fdfffc, 0.3);
        }
    }
}
@mixin model-2_links {
    /**
        *   NAVBAR - LINKS
        */
    &.--model-2 {
        flex-basis: ((1 / 4) * 100%);
        width: ((1 / 4) * 100%);
        max-width: ((1 / 4) * 100%);
        transition: all 1s;
        span {
            visibility: hidden;
        }
        &:hover {
            & span {
                visibility: visible;
                font-size: 0.8em;
            }
        }
    }
    .light &.--color {
        &-1 {
            color: #34e9d7;
            &:hover {
                color: #fdab38;
            }
            span {
                color: #34e9d7;
            }
        }
    }
    .dark &.--color {
        &-1 {
            color: #fdfffc;
            &:hover {
                color: #e71d36;
            }
            span {
                color: #fdfffc;
            }
        }
    }
}
