@mixin model-2_menu {
    /**
        *   NAVBAR - MENU
        */
    &.--model-2 {
        line-height: 3;
        @media (max-width: 599px) {
            font-size: 1em;
            line-height: 4;
        }
        @media (max-width: 350px) {
            font-size: 0.9em;
        }
        @media (min-width: 600px) {
            font-size: 1.15em;
        }
        @media (min-width: 900px) {
            font-size: 1.3em;
        }
        @media (min-width: 1200px) {
            font-size: 1.4em;
        }
        @media (min-width: 1800px) {
            font-size: 1.7em;
        }
        text-align: center;
    }
}
@mixin model-2_links {
    /**
        *   NAVBAR - LINKS
        */
    &.--model-2 {
        flex-basis: ((1 / 4) * 100%);
        width: ((1 / 4) * 100%);
        max-width: ((1 / 4) * 100%);
        @media (max-width: 599px) {
            flex-basis: 100%;
            width: 100%;
            max-width: 100%;
            &:first-of-type {
                margin-top: 1.5em;
            }
            &:last-of-type {
                margin-bottom: 1.4em;
            }
        }
        transition: all 1s;
        span {
            visibility: hidden;
        }
        &:hover {
            & span {
                visibility: visible;
                font-size: 0.8em;
            }
        }
    }
    &.--img {
        position: relative;
        img {
            position: absolute;
            top: calc(100% - 3em);
            right: 0;
            height: 3em;
            @media (max-width: 599px) {
                position: static;
                height: 5em;
            }
            @media (min-width: 1200px) {
                right: 20%;
            }
            @media (min-width: 1800px) {
                right: 30%;
            }
        }
    }
}
