.hero--model-1 {
    position: relative;
    background-color: #000;
    background-repeat: no-repeat;
    @media (max-width: 599px) {
        background-image: $hero-4;
        background-position: top center;
        background-size: 35rem;
    }
    @media (max-width: 350px) {
        background-position: 50% 8%;
        background-size: 25rem;
    }
    @media (min-width: 600px) {
        background-image: $hero-4;
        background-position: center 0;
        background-size: 35rem;
    }
    @media (min-width: 900px) {
        background-image: $hero-1;
        background-position: left;
    }
    @media (min-width: 1200px) {
        background-image: $hero-2;
    }
    @media (min-width: 1800px) {
        background-image: $hero-3;
        background-position: 5rem center;
        background-size: 30rem;
    }
}
.hero__title {
    position: absolute;
    right: 10%;
    text-align: right;
    h1 {
        font-size: 1.2em;
        color: $pallete-tertiary;
        text-shadow: 0.1rem 0.1rem 0.2rem $pallete-primary;
    }
    h2 {
        margin: 0;
        font-size: 0.6em;
        text-shadow: 0.05rem 0.05rem 0.05rem $pallete-secondary;
    }
    @media (max-width: 599px) {
        bottom: 10%;
        font-size: 1.4em;
    }
    @media (max-width: 350px) {
        bottom: 20%;
        font-size: 1.2em;
    }
    @media (min-width: 600px) {
        bottom: 10%;
        font-size: 1.8em;
    }
    @media (min-width: 900px) {
        bottom: 15%;
        font-size: 2em;
    }
    @media (min-width: 1200px) {
        bottom: 12.5%;
        font-size: 2.2em;
        h1 {
            margin-bottom: 0;
        }
    }
    @media (min-width: 1800px) {
        bottom: 10%;
        font-size: 3em;
    }
}
